= form_for(@workout, html: { class: "form-horizontal", role: "form" }, style: 'display:none') do |f|
  - if @workout.errors.any?
    .alert.alert-danger.alert-dismissable{:role => "alert"}
      %button.close{"data-dismiss" => "alert", :type => "button"}
        %span{"aria-hidden" => "true"} ×
        %span.sr-only Close
      %h4
        = pluralize(@workout.errors.count, "error")
        prohibited this workout from being saved:
      %ul
        - @workout.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.collection_select(:workout_category_id, WorkoutCategory.all, :id, :name, prompt: true, class: "form-control")
  .form-group
    = f.label :name, class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :name, class: "form-control"
  .form-group
    = f.label :description, class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_area :description, class: "form-control"
  .form-group
    = f.label :pictograms, class: "col-sm-2 control-label"
    .col-sm-10
      = f.file_field :pictograms, multiple: true
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: "btn btn-primary"
