<div class="page-header">
  <%= link_to new_workout_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Workout
  <% end %>
  <h1>Listing workouts</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Pictogram</th>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @workouts) do |workout| %>
            <td class='thumbnail' style="padding:0;background-color:#333;text-align:center;margin: 0">
              <%= image_tag (workout.pictograms.first.url rescue 'no image'), style: 'padding: 3px', size: '90x90' %></td>
            <td><%= workout.name %></td>
            <td><%= workout.description %></td>
            <td><%= link_to 'Show', workout %></td>
        <td><%= link_to 'Edit', edit_workout_path(workout) %></td>
        <td><%= link_to 'Destroy', workout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
