<div class="page-header">
  <%= link_to new_meal_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Meal
  <% end %>
  <h1>Listing meals</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Calorie</th>
            <th>Protein</th>
            <th>Carb</th>
            <th>Fat</th>
            <th>Sodium</th>
            <th>Sugar</th>
            <th>Gram</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @meals) do |meal| %>
            <td><%= meal.name %></td>
            <td><%= meal.calorie %></td>
            <td><%= meal.protein %></td>
            <td><%= meal.carb %></td>
            <td><%= meal.fat %></td>
            <td><%= meal.sodium %></td>
            <td><%= meal.sugar %></td>
            <td><%= meal.gram %></td>
            <td><%= link_to 'Show', meal %></td>
        <td><%= link_to 'Edit', edit_meal_path(meal) %></td>
        <td><%= link_to 'Destroy', meal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
