<div class="page-header">
  <%= link_to meals_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_meal_path(@meal), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show meal</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @meal.name %></dd>

  <dt>Calorie:</dt>
  <dd><%= @meal.calorie %></dd>

  <dt>Protein:</dt>
  <dd><%= @meal.protein %></dd>

  <dt>Carb:</dt>
  <dd><%= @meal.carb %></dd>

  <dt>Fat:</dt>
  <dd><%= @meal.fat %></dd>

  <dt>Sodium:</dt>
  <dd><%= @meal.sodium %></dd>

  <dt>Sugar:</dt>
  <dd><%= @meal.sugar %></dd>

  <dt>Gram:</dt>
  <dd><%= @meal.gram %></dd>

</dl>
