.page-header
  = link_to todos_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_todo_path(@todo), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show todo
%dl.dl-horizontal
  %dt Title:
  %dd= @todo.title
  %dt Notes:
  %dd= @todo.notes
  %dt Done:
  %dd= @todo.done
