<%= form_for(@user_workout, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @user_workout.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@user_workout.errors.count, "error") %> prohibited this user_workout from being saved:</h4>

      <ul>
      <% @user_workout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :set, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :set, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :rep, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :rep, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :weight, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :weight, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :workout, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :workout, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :user, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :user, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
