= form_for(@user_workout, html: { class: 'form-horizontal', role: 'form' }) do |f|
  - if @user_workout.errors.any?
    .alert.alert-danger.alert-dismissable{:role => 'alert'}
      %button.close{'data-dismiss' => 'alert', :type => 'button'}
        %span{'aria-hidden' => 'true'} ×
        %span.sr-only Close
      %h4
        = pluralize(@user_workout.errors.count, 'error')
        prohibited this user_workout from being saved:
      %ul
        - @user_workout.errors.full_messages.each do |msg|
          %li= msg

  .row.form-group
    .col-xs-3{:style => "text-align:center;"}
      %span#load_image
    .col-xs-2.center_text
      -#%h2.user_workout_input 30
      = f.number_field :weight, class: 'user_workout_input center_text', placeholder: 'wts'
    .col-xs-2.center_text
      -#%h2.user_workout_input 3
      = f.number_field :set, class: 'user_workout_input center_text', placeholder: 'sets'
    .col-xs-2.center_text
      -#%h2.user_workout_input 12
      = f.number_field :rep, class: 'user_workout_input center_text', placeholder: 'reps'
    .col-xs-3{:style => "text-align:center;bottom:0"}
      = f.submit 'save', class: 'user_workout_save txt_color_grey'

  -#.form-group
  -#  = f.label :set, class: 'col-sm-2 control-label'
  -#  .col-sm-10
  -#    = f.number_field :set, class: 'form-control'
  -#.form-group
  -#  = f.label :rep, class: 'col-sm-2 control-label'
  -#  .col-sm-10
  -#    = f.number_field :rep, class: 'form-control'
  -#.form-group
  -#  = f.label :weight, class: 'col-sm-2 control-label'
  -#  .col-sm-10
  -#    = f.number_field :weight, class: 'form-control'
  -#.form-group
  -#  = f.label :workout, class: 'col-sm-2 control-label'
  -#  .col-sm-10
  -#    = f.text_field :workout, class: 'form-control'
  -#.form-group
  -#  = f.label :user, class: 'col-sm-2 control-label'
  -#  .col-sm-10
  -#    = f.text_field :user, class: 'form-control'
  -#.form-group
  -#  .col-sm-offset-2.col-sm-10
  -#    = f.submit class: 'btn btn-primary'
