<div class="page-header">
  <%= link_to new_user_workout_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New User workout
  <% end %>
  <h1>Listing user_workouts</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Set</th>
            <th>Rep</th>
            <th>Weight</th>
            <th>Workout</th>
            <th>User</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @user_workouts) do |user_workout| %>
            <td><%= user_workout.set %></td>
            <td><%= user_workout.rep %></td>
            <td><%= user_workout.weight %></td>
            <td><%= user_workout.workout %></td>
            <td><%= user_workout.user %></td>
            <td><%= link_to 'Show', user_workout %></td>
        <td><%= link_to 'Edit', edit_user_workout_path(user_workout) %></td>
        <td><%= link_to 'Destroy', user_workout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
