<div class="page-header">
  <%= link_to user_workouts_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <!-- <h1>New user_workout</h1> -->
  <%= form_tag search_workout_user_workouts_path, method: :get, remote: true do %>
  	<%= text_field_tag :term %>
  	<%= submit_tag 'Search Exercise' %>
	<% end %>
</div>

<%= render 'form' %>
