<div class="page-header">
  <%= link_to posts_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_post_path(@post), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h2><%= @post.title %></h2>
  <span class="sub_title">By <%= @post.user.email %></span>
</div>

<dl class="dl-horizontal">
<!--   <dt>Title:</dt>
  <dd><%#= @post.title %></dd>

  <dt>Content:</dt>
  <dd><%#= markdown(@post.content) %></dd>

  <dt>User:</dt>
  <dd><%#= @post.user.email %></dd>

  <dt>Category:</dt>
  <dd><%#= @post.category.title %></dd> -->
  <p><%= markdown(@post.content) %></p>
</dl>
